.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  /* Animated gradient */
  background: linear-gradient(
    -45deg,
    #80e41c,
    #5D2866,
    #8621D1,
    #b9f27c,
    #871717,
    #D17021,
    #0E0612
  );
  background-size: 400% 400%;
  animation: gradientBG 18s ease infinite;
}

/* Smooth color shifting */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth-container {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.92);
}

/* MAIN CARD */
.auth-container {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
}

/* LEFT */
.auth-left {
  background: #0f172a;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
}

.auth-left h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.auth-left p {
  font-size: 15px;
  opacity: 0.9;
}

/* RIGHT */
.auth-right {
  padding: 40px;
}

.auth-right h3 {
  font-size: 26px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 22px;
}

/* FORM */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth-form input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.auth-form input:focus {
  border-color: #80e41c;
  outline: none;
}

.primary-btn {
  background: #80e41c;
  border: none;
  padding: 13px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn:hover {
  background: #6cc818;
}

.forgot {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #80e41c;
  cursor: pointer;
}

.divider {
  margin: 18px 0;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.social-buttons img {
  width: 20px;
}

.facebook-btn {
  background: #f4f7ff;
}

.toggle-text {
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

.toggle-text span {
  color: #80e41c;
  font-weight: 600;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-container {
    grid-template-columns: 1fr;
  }

  .auth-left {
    display: none;
  }
}
